issuer_id: "c6b73509-c0bc-4f39-9e39-22ff34f1bfe3"
key_id: "VNKZ5RP0BZ"
vendor_number: "91032757"
private_key: |
  -----BEGIN PRIVATE KEY-----
  MIICUTCCAfugAwIBAgIBADANBgkqhkiG9w0BAQQFADBXMQswCQYDVQQGEwJDTjEL
  MAkGA1UECBMCUE4xCzAJBgNVBAcTAkNOMQswCQYDVQQKEwJPTjELMAkGA1UECxMC
  VU4xFDASBgNVBAMTC0hlcm9uZyBZYW5nMB4XDTA1MDcxNTIxMTk0N1oXDTA1MDgx
  NDIxMTk0
  -----END PRIVATE KEY-----
